body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}

a {
  color: #f65282;
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}

header {
  border-bottom: 1px solid #f65282;
  padding: 0 0 30px 0;
  text-align: center;
}

.search-form {
  background-color: #f65282;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-button {
  background: #f65282;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}

main {
  padding: 30px 0;
}

.weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-of-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
  color: #f65282;
}

.weather-details {
  font-size: 16px;
  color: black;
  line-height: 24px;
  font-weight: 500;
}

.weather-details strong {
  color: #f65282;
}

.weather-container {
  display: flex;
  align-items: center;
}

.weather-icon img {
  width: 88px;
  height: 88px;
}

.weather-temperature {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
  margin-left: 10px;
  color: #f65282;
}

.weather-unit {
  margin-top: 6px;
  font-size: 28px;
  margin-left: 5px;
  color: #f65282;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
